<div class="bt1">
  <p style="font-weight: bolder;">Bài Tập 1 <br>
    Danh sách các học sinh
  </p>

  <div>
    <span>Giới tính: </span>
    <button [class.gender]="checkGender" (click)="changeGender(true)">
      Nam
    </button>
    <button [class.gender]="!checkGender" (click)="changeGender(false)">
      Nữ
    </button>
  </div>

  <table>
    <tr>
      <th>STT</th>
      <th>Họ Tên</th>
      <th>Quê quán</th>
      <th>Giới tính</th>
      <th>sửa</th>
    </tr>
    <tr *ngFor="let user of users; index as idx" [class.gender]="(user.gender === 'nam') === checkGender">
      <td>{{idx+1}}</td>
      <td>{{user.fullname}}</td>
      <td>{{user.homeTown}}</td>
      <td>{{user.gender}}</td>
      <td class="update" (click)="handleUpdate(user)"> sửa </td>
    </tr>
  </table>
  <button class="btn-add" (click)="handleShowModal()">Thêm</button>
  <div *ngIf="isShowModal" class="modal">
    <app-bt2-modal [checkName]="checkName" (clickClose)="handleCloseModal()" (returnUser)="addUser($event)"
      [user]="user"></app-bt2-modal>
  </div>
</div>