.header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
    padding: 0 3%;
    z-index: 99;
    background-color: var(--bg-b);
    border-bottom: 1px solid var(--border);
    background-color: var(--bg-black);
    .logo{
        font-size: 38px;
        &:hover{
            cursor: pointer;
        }
        button{
            display: none;
        }
    }
    .header-body{
        display: flex;
        align-items: center;
        padding: 3px 0 3px 3%;
        height: 55px;
        justify-content: space-between;
    }

    .header-wrap{
        display: flex;
        align-items: center;
        
    }

    .search{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 999px;
        border: 1px solid var(--border);
        color: var(--text-gray);
        input{
            flex: 1;
            border: none;
            outline: none;
            height: 40px;
            background-color: transparent;
            color: white;
        }
        button{
            width: 50px;
            height: 100%;
            border-top-left-radius: 999px;
            border-bottom-left-radius: 999px;
        }
        .filter{
            height: 40px;
            display: flex;
            align-items: center;
            padding-right: 2%;
            font-size: 14px;
            display: flex;
            svg{
                width: 14px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }

    .header-order{
        margin: 0 2%;
        height: 32px;
        background-color: var(--primary);
        padding: 6px 12px;
        border-radius: 4px;
        svg{
            fill: white;
        }
    }

    .account{
        svg{
            width: 30px;
        }
    }

    button, .account, .header-order{
        &:hover{
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 992px) {
    .filter{
        span{
            display: none;
        }
    }
    .header{
        .logo{
            font-size: 26px;
            button{
                display:inline-block;
            }
        }     
    }
}

@media screen and (max-width: 768px) {
    .header-order{
        span{
            display: none;
        }
    }
}

@media screen and (max-width: 576px) {
    .header{
        .search{
            border-color: transparent;
            justify-content: flex-end;
            input{
                display: none;
            }
        }
    }
}