<div class="home-slide">
    <div class="home-slide-list" #ngHomeSlideList>
        <div class="home-slide-item" #ngHomeSlideItem>
            <img src="../../../../assets/task5/pngtree-school-ancient-music-club-recruits-neoclassical-geometric-gray-banner-picture-image_1091572.jpg"
                alt="">
        </div>
        <div class="home-slide-item" #ngHomeSlideItem>
            <img src="../../../../assets/task5/pngtree-japanese-japan-fresh-blue-picture-image_928843.jpg" alt="">
        </div>
        <div class="home-slide-item" #ngHomeSlideItem>
            <img src="../../../../assets/task5/pngtree-japanese-ukiyo-e-surf-simple-banner-background-picture-image_1090571.jpg"
                alt="">
        </div>
    </div>
</div>