<div class="task4">
  <div class="note" *ngIf="!checks.checkFlashcard;else flashCard">
    <div class="category">
      <div class="category-title">Tên danh mục</div>
      <ul class="category-list">
        <li *ngFor="let cate of categories; index as idx">
          <a (click)="showItems(cate, idx)" [class.active]="checks.categoryActive === idx">{{cate.categoryName}}</a>
        </li>
      </ul>
    </div>
    <div class="items">
      <app-items [items]="items" [itemsLength]="checks.itemsLength" (reFlashcard)="showFlashcard()"></app-items>
    </div>
  </div>
  <ng-template #flashCard>
    <app-flashcard></app-flashcard>
  </ng-template>

</div>