<h1 style="text-align: center;" *ngIf="headerLink">Học lập trình Web với Angular</h1>
<div class="topnav" *ngIf="headerLink">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a [routerLink]="['task1/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Task 1</a>
    <a [routerLink]="['task2/']" routerLinkActive="active">Task 2</a>
    <a [routerLink]="['task3/']" routerLinkActive="active">Task 3</a>
    <a [routerLink]="['task4/']" routerLinkActive="active">Task 4</a>
    <a [routerLink]="['task5/']" routerLinkActive="active" (click)="hideHeaderLink()">Task 5</a>
</div>
<router-outlet></router-outlet>
<h2 *ngIf="headerLink">{{st | velocity}} m/s</h2>
<h1>{{'task5.components.Artist' | translate}}</h1>