<h2>Trang chủ</h2>
<!-- <p>hello {{person.name}}, năm nay {{person.age}} tuổi</p>

<div *ngIf="person.age >= 20">{{person.name}} đã đủ tuổi lấy vợ</div>

<div *ngIf="person.age < 20">{{person.name}} chưa đủ tuổi lấy vợ</div>

<button (click)="increasePersonAge()">Tăng</button>
<button (click)="reducePersonAge()">giảm</button> -->

<!-- <ul *ngFor="let user of list; index as idx; count as length; first as isF; last as isL; even as isE; odd as isO">
    <li>
        <p>{{user.name}}-{{user.age}}-{{idx}}-{{length}}-{{isF}}-{{isL}}-{{isE}}-{{isO}}</p>
    </li>
</ul> -->

<!-- <form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fisrtName" ngModel value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lastName" ngModel value="Doe"><br><br>
  <div ngModelGroup="infor">
    <label for="age">Age:</label><br>
    <input type="text" id="age" name="age" ngModel value="20"><br>
    <label for="homeTown">Home Town:</label><br>
    <input type="text" id="homeTown" name="homeTown" ngModel value="Bắc Giang"><br>
  </div>
  <input type="submit" value="Submit">

</form> -->

<!-- <h4>{{message}}</h4>
<button type="button" (click)="changeMessage()">Change message</button> -->

<!-- <p>{{message}}</p>

<button (click)="onClick()">Child Change</button> -->